 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Update Category</h2>
    <div class="container">
       <form class="form-horizontal" id="category_form">
          <fieldset>
            <div class="form-group">
              <label for="inputName" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputName" placeholder="Name" value="<%= @category.name %>">
              </div>
            </div>
            <input type="hidden" name="method" id="method" value="edit">
            <input type="hidden" id="category_id" value="<%= @category.id %>">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="add_category">Update</button>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="col-lg-8">
          <div class="alert alert-dismissable alert-success" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Success!</strong> The category was saved correctly. Click <strong><a href="/admin/categories">here</a></strong> to see it.
          </div>
          <div class="alert alert-dismissable alert-danger" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> Change a few things up and try submitting again.
          </div>
        </div>
    </div>
  </div>
