
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">Select Option</a>
                </li>
                <li class="active">Log In
                </li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Confirm Purchase</a>
                </li>
            </ol>
        </div>        
        <%= render 'layouts/sign_up' %>
