    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">Select Option</li>
                <li><a href="#">Log In</a>
                </li>
                <li><a href="#">Payment</a>
                </li>
                <li><a href="#">Confirm Purchase</a>
                </li>
            </ol>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <img src="assets/checkout_1.png">
            </div>
        </div>
    </div>
   