<div id="wrapper">
  <%= render 'layouts/header' %>
  <div id="main"> 
    <!--Breadcrumb Section Start Here-->
        <div class="breadcrumb-section">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>About Us</h1>
                <ul class="breadcrumb">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li class="active">
                    About Us
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--Breadcrumb Section End Here-->
        <div class="content-wrapper" id="page-info">
					<div class="container">
						<!-- Our Story Section Start Here -->
						<section class="our-story row">
							<div class="col-xs-12">
								<header class="story-heading section-header">
									<h2>So….what the heck is GivCuz? <strong>Here’s the deal-e-o.</strong></h2>
								</header>
								<div class="row">
									<div class="col-xs-12 col-sm-5">
										<section class="slider-wrap flex-slide flexslider">
											<ul class="slides">
											<li>
												<img src="assets/chart.jpg" alt="">
											</li>
											<li>
												<img src="assets/chart.jpg" alt="">
											</li>
											</ul>
										</section>
									</div>
									<div class="col-xs-12 col-sm-7">
										<p>
											
												GivCuz partners with local businesses and local NPO’s and charities that you care about, and allows you to donate much needed money to your chosen NPO, by buying and doing things you likely already buy and do. That’s it. It’s that simple.
											
										</p>
									</div>
								</div>
							</div>
						</section>
						<!-- Our Story Section Start Here -->
						<!-- What We Do Section Start Here-->
						<section class="our-works row anim-section">
							<div class="col-xs-12">
								<header class="work-block-heading section-header">
									<h2>Still not gettin’ it? <strong>Here’s an example</strong></h2>
								</header>
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12">
										
										<strong class="article-sammury">
											You like the Minneapolis Public Library and would like to see it around for years to come. <br>
											You like Pizza. <br>
											You buy a pizza from your local pizza shop at a great price and portion of the money you spend goes to the Minneapolis Public Library.
									  </strong>

									  <p class="example-givcuz">OK. I spend $10 and the library gets about 5 cents right?</br>
  									  Absolutely not. Here’s how it breaks down…</br>
  									  You buy a $20 pizza for $10 and you donate money to a cause you care about. Cool eh?
                    </p>
									</div>
								</div>
							</div>
						</section>
						<!-- What We Do Section Start Here-->
					</div>
				</div>
    </div>
</div>
<%= render 'layouts/footer' %>
