<div id="wrapper">
  <%= render 'layouts/header' %>
    <div class="content-wrapper" id="page-info">
          <div class="container">

            <div class="row">
              <div class="col-xs-12">
                <!-- Collape Section Start Here -->
                <header class="faq-header section-header">
                  <h2>BUSINESS</h2>
                </header>

                <div class="row faq">
                  <div class="cols-xs-12 col-sm-6 anim-section">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-1"> How are we different than all the other 'daily deal' companies out there? <i class="fa fa-plus collape-plus"></i></a>
                            </h4>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse">
                          <div class="panel-body">
                            <p>Instead of a $20 pizza for $10 we are offering a way to contribute to the donor’s nonprofit fundraiser and create a partnership. Our premise is to set the initial deal at 50% off, and follow up deals at full retail with a smaller, but still meaningful contribution to the nonprofit</p>
                            <p>While not all customers will be retained, a bunch will We’re not selling pizza. <b>We’re selling fundraising.</b></p>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Understanding the "Donor Deal of the Day" <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                          <div class="panel-body">
                              <p>Donor Deal of the Day is a fantastic pre-purchased offer at a steep discount made available for a limited time to help a business gain new customer</p>
                              <p>Example = $20 Pizza for $10</p>
                              <p>The $10 is divided up as follows:</p>
                              <ul>
                                  <li>45% - your business</li>
                                  <li>45% - donated to participating NPO</li>
                                  <li>10% - GivCuz</li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"> How GivCuz makes Daily Deals work the way they should <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-3" class="panel-collapse collapse">
                          <div class="panel-body">
                           <ul>
                              <li>A Daily Deal should introduce people to your business, and then give them a reason to come back</li>
                              <li>If you only see them when the daily deal is on- you lose</li>
                              <li>Our premise is to create a partnership between your business and the donor’s nonprofit</li>
                              <li>Every purchase made feels good because a contribution is taking place</li>
                              <li>Instead of focusing on profitability of the daily deal, focus changes to daily deal experience and customer retention/partnership/satisfaction</li>
                          </ul>
                          <p>You benefit from being associated with a charity. This is good for your public image and ultimately good for business.</p>
                          <p>Your participating customers feel good about what they are doing and they share it with their friends and family via social media, which results in more customers for you.</p>
                          <b>Research shows there is a 65% greater chance of a consumer making a purchase via  recommendation from a friend compared to a simple advertisement or invite (example: email promotion.)</b>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">How does your partnership with GivCuz benefit your business? <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-4" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul>
                              <li>We truly create a reason for customer retention instead of a 50% deal, and then gone</li>
                              <li>It spreads out the daily deal timing. Impact is distributed over numerous groups vs. one giant blast to everyone at once</li>
                              <li>Pavlov’s Theory- when I think of ‘your company,’ I think ‘my nonprofit’</li>
                              <li>People tell people who tell people…Our donation gets broadcast via social media and creates additional win-win scenarios for you</li>
                              <li>Other nonprofits will hear about this and want to get involved with you, and bring all of their people with them</li>
                          </ul>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-9"> Here are some things GivCuz WILL NEVER DO <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-9" class="panel-collapse collapse">
                          <div class="panel-body">
                              <ul>
                                <li>Give you a bunch of ‘one-time’ customers</li>
                                <li>Screw up your Friday night patrons by having a glut of ‘coupon-cashing’ one timers needing to redeem their coupons tonight before they expire</li>
                                <li>Create huge spikes and valleys between last offering and next offering</li>
                                <li>Try to create business that is good for us, but bad for you</li>
                              </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="cols-xs-12 col-sm-6 anim-section">
                    <div class="panel-group" id="accordion-right">
                
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-10"> Understanding the "Donor Deal of the Day" <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-10" class="panel-collapse collapse">
                          <div class="panel-body">
                            <p>Donor Deal of the Day is a fantastic pre-purchased offer at a steep discount made available for a limited time to help a business gain new customer</p>
                            <p>Example = $20 Pizza for $10</p>
                            <p>The $10 is divided up as follows:</p>
                            <ul>
                                <li>45% - your business</li>
                                <li>45% - donated to participating NPO</li>
                                <li>10% - GivCuz</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-11"> Here is what GivCuz is doing to make the whole thing work <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-11" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul>
                              <li>We find partners to offer deals</li>
                              <li>By purchasing these deals you contribute to your nonprofit</li>
                              <li>By supporting these partners, you help build their business at the same time you are supporting your nonprofit</li>
                              <li>Depending on the deals offered and your personal circumstances, you can one deal a month or five deals a day</li>
                              <li>We keep track and post all transactions and contributions made.</li>
                          </ul>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-right" href="#collapse-12">Here what GivCuz WILL NEVER DO<i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-12" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul>
                                <li>Share your email address with anyone. Ever.</li>
                                <li>Try to sell you a deal other than through your nonprofit</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-right" href="#collapse-13">Here are some things GivCuz WILL DO<i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-13" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul>
                                <li>Make every day purchases everyday contributions</li>
                                <li>Make every transaction, a feel-good transaction</li>
                                <li>Create the Pavlovian link between your business and your new customers nonprofit organization</li>
                                <li>Have your new friends tell their friends who tell their friends</li>
                                <li>Grow your business, not just in terms of sales but also in profit and customer satisfaction</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-right" href="#collapse-14">WHY PARTNER WITH GivCuz?<i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-14" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul>
                                <li>GivCuz provides a reason to buy from you and you alone, a reason to come back, a win-win scenario for you, the donor and the nonprofit</li>
                                <li>Create an ongoing partnership between you and hundreds of nonprofit organizations</li>
                                <li>Much stronger response than a standard daily deal offer</li>
                                <li>Enjoy social networking proliferation and feel good campaign</li>
                                <li>A better question may be- ‘Why not partner with GivCuz?’</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Collape Section End Here -->
              </div>

            </div>

          </div>
        </div>

<%= render 'layouts/footer' %>