<div id="wrapper">
  <%= render 'layouts/header' %>
  <div class="content-wrapper" id="page-info">
          <div class="container">

            <div class="row">
              <div class="col-xs-12">
                <!-- Collape Section Start Here -->
                <header class="faq-header section-header">
                  <h2>DONOR</h2>
                </header>

                <div class="row faq">
                  <div class="cols-xs-12 col-sm-6 anim-section">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-1"> Why and how do you support the non profit you care about?<i class="fa fa-plus collape-plus"></i></a>
                            </h4>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul>
                              <li>You support it because you believe in the important work the non profit is doing to make the world a better place. </li>
                              <li>You contribute in whatever way you can</li>
                              <li>by giving or committing money</li>
                              <li>volunteering for things that support the npo</li>
                              <li>participating in events and helping in whatever ways you can to spread the word and the mission.</li>
                          </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Here are some typical fundraising methods <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul>
                              <li>All competitors can offer the same deal</li>
                              <li>No customer retention or relationship</li>
                              <li>No customer loyalty</li>
                              <li>Businesses only lose money on these deals</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"> Understanding the Daily Deal <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-3" class="panel-collapse collapse">
                          <div class="panel-body">
                           <p>A Daily Deal is a fantastic pre-purchased offer at a steep discount made available for a limited time to help a business gain new customers.</p>

                            <h5>Examples of Daily Deal Web sites:</h5>
                            <ul>
                                <li>Groupon</li>
                                <li>Living Social</li>
                                <li>Amazon</li>
                                <li>Crowd Cut</li>
                                <li>Ebay Daily Deal</li>
                                <li>Star Tribune</li>
                                <li>Yipit</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">Here's how GivCuz is different from ALL of these <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-4" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul>
                              <li>They are selling a $20 pizza for $10</li>
                              <li>We are offering a way for you to make a contribution to your nonprofit of choice for getting a $20 for $10</li>
                              <li>They are hoping you come back and buy another pizza at full price</li>
                              <li>We are hoping to create an ongoing relationship that supports your nonprofit with every purchase made</li>
                          </ul>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-9"> Here's what GivCuz does to make this all happen <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-9" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul>
                                <li>We make a deal available</li>
                                <li>You ask your donors to click on a link and buy a deal from us</li>
                                <li>We send them the deal coupon and you 45% of the value of the deal.</li>
                                <li>Tomorrow there is a different offering and we do it all again</li>
                                <li>There is a catalog of deals they can choose from everyday as well as the daily deals</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="cols-xs-12 col-sm-6 anim-section">
                    <div class="panel-group" id="accordion-right">
                
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-10"> Understanding the "Donor Deal of the Day" <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-10" class="panel-collapse collapse">
                          <div class="panel-body">
                            <p>Donor Deal of the Day is a fantastic pre-purchased offer at a steep discount made available for a limited time to help a business gain new customer</p>
                            <p>Example = $20 Pizza for $10</p>
                            <p>The $10 is divided up as follows:</p>
                            <ul>
                                <li>45% - your business</li>
                                <li>45% - donated to participating NPO</li>
                                <li>10% - GivCuz</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-11"> Here is what GivCuz is doing to make the whole thing work <i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-11" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul>
                              <li>We find partners to offer deals</li>
                              <li>By purchasing these deals you contribute to your nonprofit</li>
                              <li>By supporting these partners, you help build their business at the same time you are supporting your nonprofit</li>
                              <li>Depending on the deals offered and your personal circumstances, you can one deal a month or five deals a day</li>
                              <li>We keep track and post all transactions and contributions made.</li>
                          </ul>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-right" href="#collapse-12">Here what GivCuz WILL NEVER DO<i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-12" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul>
                                <li>Share your email address with anyone. Ever.</li>
                                <li>Try to sell you a deal other than through your nonprofit</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-right" href="#collapse-13">Here what GivCuz WILL DO<i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-13" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul>
                                <li>Make every day purchases everyday contributions</li>
                                <li>Track daily, weekly , monthly  purchases/ contribution for easy reference.</li>
                                <li>Continue to search for partners offering great values that can become contributions through our daily deal offerings</li>
                                <li>Allow you to not only help raise funds, but also help grow the patron list by sharing your purchases on social media sites</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-right" href="#collapse-14">So, what do you need to do to get started?<i class="fa fa-plus collape-plus"></i></a></h4>
                        </div>
                        <div id="collapse-14" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul>
                                <li>Sign up and create an account</li>
                                <li>Select a daily deal for purchase</li>
                            </ul>
                            <h4>That's it! It's that easy!</h4>
                            <h4>Get going! Get donating! Feel good about it and tell your friends!</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Collape Section End Here -->
              </div>

            </div>

          </div>
        </div>
<%= render 'layouts/footer' %>
